.textInput {
  width: 30rem;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.translator-textarea {
  font-family: 'Ariel'; 
  font-size: medium;
  resize: none;
  height: 100%;
  width: 26rem;
  padding: 1rem;
  border: 1px solid #e1dede;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  transition: border-color 0.2s ease, border-width 0.2s ease,
    box-shadow 0.2s ease;
}

.translator-textarea:focus {
  outline: none;
  background-color: #ee4b5905;
  border-color: #bf3e487d;
  border-width: 1px;
}

.translate-button {
  align-self: flex-end;
  border: none;
  padding: 0.7rem;
  color: #e33333;
  font-weight: bold;
  border-radius: 4px;;
  background-color: #e333330b;
  cursor: pointer;
}

.translate-button:hover{
  background-color: #e333331f;
}
