.words-container {
  /* flex: 1;  */
  box-sizing: border-box;
}

.words {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  align-content: flex-start;
  border: 1px solid #ffffff;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;

}

.word {
  padding: 0.4rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 12px;
  width: fit-content;
  background-color: #f1ecec;
  border: none;
  cursor: pointer;
}

.expanded-row {
  display: flex;
  width: 100%;
}

.details-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;        
  overflow-x: hidden;
}

.details-box {
  flex: 1;
  display: flex;  
  flex-direction: row;     
  flex-wrap: wrap;     
  gap: 0.6rem; 
}
.language-mark {
  margin: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


/* conjugations */
.conjugations-box{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: scroll;
  width: calc(100vw - 40rem);
  margin:0.5rem;
}

.conjugations-container{
  width: 10rem;
  flex-shrink: 0;
  padding-bottom: 0.5rem;


}
.verb-row{
    display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.tense{
  padding: 0.3rem;
  border-radius: 8px;
  background-color: #f1ecec6d;
  width: fit-content;
}